{% use 'form_div_layout.html.twig' %}

{% block form_row %}
    {% set row_attr = row_attr|default({}) %}
    {% set row_classes = (row_attr.class ?? '') ~ ' form--group' %}
    {% if errors|length > 0 %}
        {% set row_classes = row_classes ~ ' has-error' %}
    {% endif %}
    {% set row_attr = row_attr|merge({ class: row_classes|trim }) %}
    {% set attr = row_attr %}
    <div {{ block('attributes')|raw }}>
        {{ form_widget(form) }}
        {{ form_errors(form) }}
        {{ form_help(form) }}
    </div>
{% endblock %}

{% block form_widget_compound %}
    {{ form_errors(form) }}
    {{ block('form_rows') }}
    {{ form_rest(form) }}
{% endblock %}

{% block form_start %}
    {% set attr = attr|merge({ class: (attr.class ?? '') ~ ' form' }) %}
    {{ parent() }}
{% endblock %}

{% block form_end %}
    {{ parent() }}
{% endblock %}

{% block form_widget_simple %}
    {% set label_key = form.vars.label is same as(false)
        ? form.vars.name
        : (form.vars.label ?? form.vars.name)
    %}
    {% if label_key is same as(true) %}
        {% set label_key = 'field.' ~ form.vars.name ~ '.label' %}
    {% endif %}
    {% set label_value = form.vars.translation_domain is same as(false)
        ? label_key
        : label_key|trans({}, form.vars.translation_domain)
    %}
    {% set placeholder_key = attr.placeholder ?? null %}
    {% if placeholder_key is same as(true) %}
        {% set placeholder_key = 'field.' ~ form.vars.name ~ '.placeholder' %}
    {% endif %}
    {% set placeholder_value = placeholder_key %}
    {% if placeholder_key is not null and form.vars.translation_domain is not same as(false) %}
        {% set placeholder_value = placeholder_key|trans({}, form.vars.translation_domain) %}
    {% endif %}
    {{ component(
        render_pass,
        '@WexampleSymfonyDesignSystemBundle/components/form/text_input',
        {
            name: full_name,
            id: id,
            label: label_value,
            placeholder: placeholder_value,
            required: required,
            value: value
        }
    ) }}
{% endblock %}

{% block password_widget %}
    {% set label_key = form.vars.label is same as(false)
        ? form.vars.name
        : (form.vars.label ?? form.vars.name)
    %}
    {% if label_key is same as(true) %}
        {% set label_key = 'field.' ~ form.vars.name ~ '.label' %}
    {% endif %}
    {% set label_value = form.vars.translation_domain is same as(false)
        ? label_key
        : label_key|trans({}, form.vars.translation_domain)
    %}
    {% set placeholder_key = attr.placeholder ?? null %}
    {% if placeholder_key is same as(true) %}
        {% set placeholder_key = 'field.' ~ form.vars.name ~ '.placeholder' %}
    {% endif %}
    {% set placeholder_value = placeholder_key %}
    {% if placeholder_key is not null and form.vars.translation_domain is not same as(false) %}
        {% set placeholder_value = placeholder_key|trans({}, form.vars.translation_domain) %}
    {% endif %}
    {{ component(
        render_pass,
        '@WexampleSymfonyDesignSystemBundle/components/form/password_input',
        {
            name: full_name,
            id: id,
            label: label_value,
            placeholder: placeholder_value,
            required: required,
            value: value
        }
    ) }}
{% endblock %}

{% block textarea_widget %}
    {% set label_key = form.vars.label is same as(false)
        ? form.vars.name
        : (form.vars.label ?? form.vars.name)
    %}
    {% if label_key is same as(true) %}
        {% set label_key = 'field.' ~ form.vars.name ~ '.label' %}
    {% endif %}
    {% set label_value = form.vars.translation_domain is same as(false)
        ? label_key
        : label_key|trans({}, form.vars.translation_domain)
    %}
    {% set placeholder_key = attr.placeholder ?? null %}
    {% if placeholder_key is same as(true) %}
        {% set placeholder_key = 'field.' ~ form.vars.name ~ '.placeholder' %}
    {% endif %}
    {% set placeholder_value = placeholder_key %}
    {% if placeholder_key is not null and form.vars.translation_domain is not same as(false) %}
        {% set placeholder_value = placeholder_key|trans({}, form.vars.translation_domain) %}
    {% endif %}
    {{ component(
        render_pass,
        '@WexampleSymfonyDesignSystemBundle/components/form/textarea',
        {
            name: full_name,
            id: id,
            label: label_value,
            placeholder: placeholder_value,
            required: required,
            value: value,
            rows: form.vars.rows ?? null,
            max_rows: form.vars.max_rows ?? null,
            auto_resize: form.vars.auto_resize ?? false
        }
    ) }}
{% endblock %}

{% block textarea_input_widget %}
    {{ block('textarea_widget') }}
{% endblock %}

{% block emoji_picker_widget %}
    {% set label_key = form.vars.label is same as(false)
        ? form.vars.name
        : (form.vars.label ?? form.vars.name)
    %}
    {% if label_key is same as(true) %}
        {% set label_key = 'field.' ~ form.vars.name ~ '.label' %}
    {% endif %}
    {% set label_value = form.vars.translation_domain is same as(false)
        ? label_key
        : label_key|trans({}, form.vars.translation_domain)
    %}
    {% set placeholder_key = attr.placeholder ?? null %}
    {% if placeholder_key is same as(true) %}
        {% set placeholder_key = 'field.' ~ form.vars.name ~ '.placeholder' %}
    {% endif %}
    {% set placeholder_value = placeholder_key %}
    {% if placeholder_key is not null and form.vars.translation_domain is not same as(false) %}
        {% set placeholder_value = placeholder_key|trans({}, form.vars.translation_domain) %}
    {% endif %}
    {{ component(
        render_pass,
        '@WexampleSymfonyDesignSystemBundle/components/form/emoji_picker',
        {
            name: full_name,
            id: id,
            label: label_value,
            placeholder: placeholder_value,
            required: required,
            value: value
        }
    ) }}
{% endblock %}

{% block select_input_widget %}
    {% set label_key = form.vars.label is same as(false)
        ? form.vars.name
        : (form.vars.label ?? form.vars.name)
    %}
    {% if label_key is same as(true) %}
        {% set label_key = 'field.' ~ form.vars.name ~ '.label' %}
    {% endif %}
    {% set label_value = form.vars.translation_domain is same as(false)
        ? label_key
        : label_key|trans({}, form.vars.translation_domain)
    %}
    {% set placeholder_key = form.vars.placeholder ?? null %}
    {% if placeholder_key is same as(true) %}
        {% set placeholder_key = 'field.' ~ form.vars.name ~ '.placeholder' %}
    {% endif %}
    {% set placeholder_value = placeholder_key %}
    {% if placeholder_key is not null and form.vars.translation_domain is not same as(false) %}
        {% set placeholder_value = placeholder_key|trans({}, form.vars.translation_domain) %}
    {% endif %}
    {% set normalized_choices = [] %}
    {% for choice in form.vars.choices %}
        {% if choice.choices is defined %}
            {% set group = {'label': choice.label, 'options': []} %}
            {% for option in choice.choices %}
                {% set group = group|merge({'options': group.options|merge([{'value': option.value, 'label': option.label}])}) %}
            {% endfor %}
            {% set normalized_choices = normalized_choices|merge([group]) %}
        {% else %}
            {% set normalized_choices = normalized_choices|merge([{'value': choice.value, 'label': choice.label}]) %}
        {% endif %}
    {% endfor %}
    {{ component(
        render_pass,
        '@WexampleSymfonyDesignSystemBundle/components/form/select_input',
        {
            name: full_name,
            id: id,
            label: label_value,
            placeholder: placeholder_value,
            required: required,
            multiple: form.vars.multiple ?? false,
            selected: value,
            choices: normalized_choices
        }
    ) }}
{% endblock %}

{% block password_input_widget %}
    {{ block('password_widget') }}
{% endblock %}

{% block hidden_widget %}
    {{ component(
        render_pass,
        '@WexampleSymfonyDesignSystemBundle/components/form/hidden_input',
        {
            name: full_name,
            id: id,
            value: value
        }
    ) }}
{% endblock %}

{% block submit_widget %}
    {% set label_key = form.vars.label is same as(false)
        ? form.vars.name
        : (form.vars.label ?? form.vars.name)
    %}
    {% if label_key is same as(true) %}
        {% set label_key = 'action.' ~ form.vars.name %}
    {% endif %}
    {% set label_value = form.vars.translation_domain is same as(false)
        ? label_key
        : label_key|trans({}, form.vars.translation_domain)
    %}
    {{ component(
        render_pass,
        '@WexampleSymfonyDesignSystemBundle/components/form/submit_input',
        {
            name: full_name,
            id: id,
            label: label_value,
            value: value,
            icon: form.vars.icon ?? null
        }
    ) }}
{% endblock %}

{% block form_errors %}
    {% if errors|length > 0 %}
        {% set error_translation_domain = form.vars.translation_domain is defined
            ? form.vars.translation_domain
            : translation_domain
        %}
        {% if form.parent is null %}
            <div class="form--errors">
                <ul>
                    {% for error in errors %}
                        <li>{{ error.message|trans(error.messageParameters, error_translation_domain) }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <div class="form--field-errors">
                <ul>
                    {% for error in errors %}
                        <li>{{ error.message|trans(error.messageParameters, error_translation_domain) }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block form_help %}
    {% if help is not empty %}
        {% set help_key = help %}
        {% if help_key is same as(true) %}
            {% set help_key = 'field.' ~ form.vars.name ~ '.help' %}
        {% endif %}
        <div class="form--help">
            {{ help_key|trans(help_translation_parameters, translation_domain) }}
        </div>
    {% endif %}
{% endblock %}
