{% use 'form_div_layout.html.twig' %}

{% block form_row %}
    {% set row_attr = row_attr|default({}) %}
    {% set row_class = row_attr.class ?? '' %}
    <div {{ block('attributes')|raw }} class="{{ row_class }}">
        {{ form_widget(form) }}
        {{ form_errors(form) }}
        {{ form_help(form) }}
    </div>
{% endblock %}

{% block form_widget_compound %}
    {{ form_errors(form) }}
    {{ block('form_rows') }}
    {{ form_rest(form) }}
{% endblock %}

{% block form_start %}
    {% set attr = attr|merge({ class: (attr.class ?? '') ~ ' form' }) %}
    {{ parent() }}
{% endblock %}

{% block form_widget_simple %}
    {% set label_key = form.vars.label is same as(false)
        ? form.vars.name
        : (form.vars.label ?? form.vars.name)
    %}
    {% set label_value = form.vars.translation_domain is same as(false)
        ? label_key
        : label_key|trans({}, form.vars.translation_domain)
    %}
    {{ text_input({
        name: full_name,
        id: id,
        label: label_value,
        placeholder: attr.placeholder ?? null,
        required: required,
        value: value
    }) }}
{% endblock %}

{% block password_widget %}
    {% set label_key = form.vars.label is same as(false)
        ? form.vars.name
        : (form.vars.label ?? form.vars.name)
    %}
    {% set label_value = form.vars.translation_domain is same as(false)
        ? label_key
        : label_key|trans({}, form.vars.translation_domain)
    %}
    {{ password_input({
        name: full_name,
        id: id,
        label: label_value,
        placeholder: attr.placeholder ?? null,
        required: required,
        value: value
    }) }}
{% endblock %}

{% block password_input_widget %}
    {{ block('password_widget') }}
{% endblock %}

{% block hidden_widget %}
    {{ hidden_input({
        name: full_name,
        id: id,
        value: value
    }) }}
{% endblock %}

{% block submit_widget %}
    {% set label_key = form.vars.label is same as(false)
        ? form.vars.name
        : (form.vars.label ?? form.vars.name)
    %}
    {% set label_value = form.vars.translation_domain is same as(false)
        ? label_key
        : label_key|trans({}, form.vars.translation_domain)
    %}
    {{ submit_input({
        name: full_name,
        id: id,
        label: label_value,
        value: value,
        icon: form.vars.icon ?? null
    }) }}
{% endblock %}

{% block form_errors %}
    {% if errors|length > 0 %}
        <div class="form--errors">
            <ul>
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block form_help %}
    {% if help is not empty %}
        <div class="form--help">
            {{ help|trans(help_translation_parameters, translation_domain) }}
        </div>
    {% endif %}
{% endblock %}
